<h1> Foods </h2>

<% @top_ten_foods.each do |food| %>
  <ul>GTIN/UPC code: <%= food.gtin_upc_code %></ul>
    <li>Description: <%= food.description %></li>
    <li>Brand Owner: <%= food.brand_owner %></li>
    <li>Ingredients: <%= food.ingredients %></li>
<% end %>